
#main-column {
	width: 85%;
	margin: 0 auto;
}

h1, p, button, #permutation, #log, #inverseLog, #move_log {
	text-align: center;
}

.puzzle, .empty {
	width: 94px;
	height: 94px;
	position: absolute;
}

.puzzle {
	border: 6px solid black;
}

.movable:hover{
	border-color: red;
	cursor: pointer;
}

#puzzlearea {
	position: relative;
	width: 400px;
	height: 400px;
	margin: 0 auto;
}

* {
	font: cursive;
	text-align: center;
}

#control-panel {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}

#shufflebutton, #reset-button, #undo-button, #picture-button, #help-button {
	margin-left: 30px;
	background-color: #2196F3;
	border-radius: 5px;
	color: #ffffff;
	padding: 0px;
	width: 85px;
	height: 35px;
	font-weight: bold;
	font-size: 15px;
	font-family: "OpenSans", "Roboto", "Helvetica", "Arial", sans-serif;
}